<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <button onclick="window.location.href='/'" class="logo-btn">
                    <img src="/static/LogoPSAPE.png" alt="Minha Logo" class="logo-image">
                </button>
                <span class="logo-text">PSA</span>
            </div>
            <div class="navbar-links">
                <button onclick="window.location.href='/login-type'" class="btn-link">Login</button>
                <button onclick="window.location.href='/cadastro'" class="signup-button">Cadastrar</button>
            </div>
        </div>
    </nav>
    <div class="content">
        <h1>Bem-vindo, ao projeto PSA!</h1>
        <div class="image">
            <img src="/static/banner.jpg" alt="Barco em um rio" >
        </div>
        <p>Estamos aqui para ajudar você a proteger os recursos hídricos e ser recompensado por isso! 
            Nossa plataforma utiliza Sistemas de Informações Geográficas (SIG) 
            para identificar e priorizar Áreas de Preservação Permanente (APP), fundamentais para a conservação ambiental. 
            Se você é proprietário de terras, nossa aplicação web permite que você se 
            inscreva e seja considerado para receber benefícios por sua contribuição à preservação desses recursos. Seguindo 
            a Política Nacional de Pagamento por Serviços Ambientais, garantimos um processo transparente e justo. Participe 
            e faça a diferença no meio ambiente, por suas ações positivas!</p>
        <h3>Acesse sua conta ou registre-se para começar.</h3>
    </div>


    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2025 Projeto PSA. Todos os direitos reservados.</p>
            <p>Desenvolvido por <a href="#">Isabelly Bernardes</a></p>
        </div>
    </footer>
    
</body>

</html>